<%= simple_form_for @proponent do |f| %>
  <% if @proponent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proponent.errors.count, "error") %> prohibited this proponent from being saved:</h2>

      <ul>
      <% @proponent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row" >
    <div class="column pr-5" >
      <div class="field">
        <%= f.input :name, input_html: { class: "form-control" } %>
      </div>

      <div class="field">
        <%= f.input :cpf, input_html: { class: "form-control" }  %>
      </div>

      <div class="field">
        <%= f.input :birth_date, input_html: { class: "form-control" }  %>
      </div>

      <div class="field">
        <%= f.input :salary, input_html: { class: "form-control" }  %>
      </div>

      <div class="field">
        <%= f.input :inss_discount, disabled: true, input_html: { class: "form-control" }  %>
      </div>
    </div>

    <div class="column px-5 mx-3" >
      <%= render 'address_fields', f: f %>
    </div>
    <div class="column pl-5" >
      <div id="contacts">
        <%= f.simple_fields_for :contacts do |contact_form| %>
          <%= render 'contact_fields', f: contact_form %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Adicionar Contato', f, :contacts %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
