<%= simple_form_for @proponent do |form| %>
  <% if @proponent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proponent.errors.count, "error") %> prohibited this proponent from being saved:</h2>

      <ul>
      <% @proponent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :cpf %>
  </div>

  <div class="field">
    <%= form.input :birth_date %>
  </div>

  <div class="field">
    <%= form.input :salary %>
  </div>

  <div class="field">
    <%= form.input :inss_discount %>
  </div>

  <%= render 'form_address', form: form %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
